.red {
	color: red;
}

p.blue {
	background-color: blue;
}

p.blue.green {
	background-color: bluegreen;
}

.red > p a  {
	color: darkred;
}

.red > p + a  {
	color: darkred;
}

.red > p ~ a  {
	color: darkred;
}
